<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vshow-秀出自我</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Vshow学生发布平台,提供学生的作品发布">
    <meta name="keywords" content="Vshow,致力于发展为高校的学生作品发布平台">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/Index/reset.css"> 
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/Plug/Validation-Engine/validationEngine.jquery.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/script/Plug/artDialog/css/ui-dialog.css">
    <link rel="stylesheet" href="__PUBLIC__/script/Plug/jcrop/css/jquery.Jcrop.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/Index/comment.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/StudentCenter/ucenter.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/StudentCenter/dropkick.css">
    

</head>
<body>
    <include file="Public:head" />

    <div class="ucenter">
        <div class="ucenter-wrap clearfix">
            <div class="ucenter-left">
                <div class="ucenter-l-header clearfix">
                    <img src="__ROOT__/Uploads/Avater/{$Think.session.avaterPath}" alt="">
                    <div class="info">
                        <p class="name">{$Think.session.truename}</p>
                        <!-- <p class="grade">网络1班</p> -->
                    </div>
                </div>
                <ul class="ucenter-l-nav" id="ucenterNav">
                    <li><a class="column1" href="__CONTROLLER__/index">修改资料</a></li>
                    <li><a class="column2" href="__CONTROLLER__/upload">作品上传</a></li>
                    <li><a class="column3" href="__CONTROLLER__/course">课程管理</a></li>
                    <li><a class="column4" href="__CONTROLLER__/homework">作品管理</a></li>
                    <li><a class="column5" href="__CONTROLLER__/collect">我的收藏</a></li>
                </ul>
            </div>
            <div class="ucenter-right" id="ucenterRight">
               <div class="column-box4 column-box4-box5 r-content">
                       <empty name="workList">
                            <div class="empty-message">
                                您还没有发布过作品哦
                            </div>
                        </empty>
                    <volist name="workList" id="vo">
                        <div class="list clearfix">
                            <div class="img-wrap2 fl">
                                <img src="__ROOT__/Uploads/Works/{$vo.works_image}" alt="">
                            </div> 
                            <div class="list-cont fl">
                                <h3>{$vo.works_name}</h3>
                                <p>
                                    <span>作品网址:</span><em><a href="__ROOT__/index.php/Home/Works/s/id/{$vo.id}">http://{$Think.server.SERVER_NAME}/index.php/Home/Works/s/id/{$vo.id}</a></em>
                                </p>
                                <p>
                                    <span>作品所属:</span><em>网站</em>
                                </p>
                                <p>
                                    <span>阅读:</span><em class="num">0</em>
                                    <span>收藏人数:</span><em class="num">0</em>                                
                                </p>
                                <p>
                                    <span class="time">发布时间:</span><em class="time">{$vo.works_pubtime|date="Y-m-d",###}</em>
                                </p>
                                <ul class="other">
                                    <li class="item1"><a href="javascript:;">在线维护</a></li>
                                    <li class="item2"><a href="javascript:;" class="edit-works" wid="{$vo.id}">编辑</a></li>
                                    <li class="item3"><a href="javascript:;" class="delete-works" wid="{$vo.id}">删除</a></li>
                                </ul>                               
                            </div>         
                        </div>
                    </volist>  
                </div>

            </div>      
        </div>
    </div>
    <include file="Public/footer" />
<script type="text/javascript" src="__PUBLIC__/script/Index/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/script/Index/jquery-color.js"></script>
<script type="text/javascript" src="__PUBLIC__/script/StudentCenter/jquery.dropkick-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/script/Plug/Validation-Engine/jquery.validationEngine.js"></script>
<script type="text/javascript" src="__PUBLIC__/script/Plug/Validation-Engine/jquery.validationEngine-zh_CN.js"></script>
<script type="text/javascript" src="__PUBLIC__/script/Plug/artDialog/dist/dialog-min.js"></script>
<script src="__PUBLIC__/script/Plug/jcrop/js/jquery.Jcrop.js"></script> 
 <script type="text/javascript" src="__PUBLIC__/script/Index/easing.1.3.js" ></script>   
<script type="text/javascript" src="__PUBLIC__/script/Index/comm.js"></script>
<script type="text/javascript" src="__PUBLIC__/script/StudentCenter/ucenter.js"></script>
<script type="text/javascript" src="__PUBLIC__/script/StudentCenter/index.js"></script>
</body>
</html>