<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vshow-秀出自我</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Vshow学生发布平台,提供学生的作品发布">
    <meta name="keywords" content="Vshow,致力于发展为高校的学生作品发布平台">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/Index/reset.css"> 
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/Plug/Validation-Engine/validationEngine.jquery.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/script/Plug/artDialog/css/ui-dialog.css">
    <link rel="stylesheet" href="__PUBLIC__/script/Plug/jcrop/css/jquery.Jcrop.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/Index/comment.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/StudentCenter/ucenter.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/StudentCenter/dropkick.css">
    

</head>
<body>
    <include file="Public:head" />
    <div class="ucenter">
        <div class="ucenter-top clearfix">
            <!-- <a href="../../../../Vshow/index.php" class="back fl">返回首页</a> -->
        </div>
        <div class="ucenter-wrap clearfix">
            <div class="ucenter-left">
                <div class="ucenter-l-header clearfix">
                    <img src="__ROOT__/Uploads/Avater/{$Think.session.avaterPath}" alt="">
                    <div class="info">
                        <p class="name">{$Think.session.truename}</p>
                        <!-- <p class="grade">网络1班</p> -->
                    </div>
                </div>
                <ul class="ucenter-l-nav" id="ucenterNav">
                    <li><a class="column1" href="__CONTROLLER__/index">修改资料</a></li>
                    <li><a class="column2" href="__CONTROLLER__/upload">作品上传</a></li>
                    <li><a class="column3" href="__CONTROLLER__/course">课程管理</a></li>
                    <li><a class="column4" href="__CONTROLLER__/homework">作品管理</a></li>
                    <li><a class="column5" href="__CONTROLLER__/collect">我的收藏</a></li>
                </ul>
            </div>
            <div class="ucenter-right" id="ucenterRight">
                <div class="column-box1 r-content">
                    <!-- <a href="javascript:;" class="btn-green">头像修改</a> -->
                    <!-- <a href="javascript:;" class="select-head"></a> -->
                    <div class="avater-box clearfix">
                        <div class="old-avater fl">
                           <img src="__ROOT__/Uploads/Avater/{$Think.session.avaterPath}" alt="">
                        </div>
                        <form id="avater_form">
                            <img src="" alt="" id="avater_image"  width="322px" height="236px" />
                            <a href="javascript:;" class="btn-green" style="position: absolute;" >选择头像  <input type="file" name="avater" id="avater"  class="validate[required] file-btn" accept=".jpg,.png,.jpeg,.bmp,.gif"/></a>
                        </form>

                        <form id="modify_avater" >
                            <input type="hidden" id="w" name="w">
                            <input type="hidden" id="h" name="h">
                            <input type="hidden" id="x" name="x">
                            <input type="hidden" id="y" name="y">
                            <input type="submit" value="更改头像" class="btn-green" style="display: block;">
                        </form>
                    </div>
                    <div class="clearfix sign">
                        <textarea name="" class="fl textarea" cols="78" rows="7" placeholder="{$user.sign}" id="edit-sign" value="{$Think.session.sign}"></textarea>
                        <a href="javascript:;" class="fr btn-green" id="edit-sign-button">修改签名</a>                    
                    </div>


                    <form id="modify_pwd">
                        <ul class="ucenter-pw">
                            <li><strong>当前密码：</strong><input type="password" name="pwd" id="password" class="text validate[required,minSize[6],maxSize[15],custom[onlyLetterNumber]]" ></li>
                            <li><strong>新的密码：</strong><input type="password" name="newpwd" class="text validate[required,minSize[6],maxSize[15],custom[onlyLetterNumber]]" id="new_password"></li>
                            <li><strong>确定密码：</strong><input type="password" name="rqpwd" class="text validate[required,equals[new_password]]" id="rq_passwd" ></li>
                            <input type="submit" value="更改密码" class="btn-green" >
                        </ul>
                    </form>
                </div>
            </div>      
        </div>
    </div>
    <include file="Public/footer" />
<script type="text/javascript" src="__PUBLIC__/script/Index/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/script/Index/jquery-color.js"></script>
    <script type="text/javascript" src="__PUBLIC__/script/StudentCenter/jquery.dropkick-min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/script/Plug/Validation-Engine/jquery.validationEngine.js"></script>
    <script type="text/javascript" src="__PUBLIC__/script/Plug/Validation-Engine/jquery.validationEngine-zh_CN.js"></script>
    <script type="text/javascript" src="__PUBLIC__/script/Plug/artDialog/dist/dialog-min.js"></script>
    <script src="__PUBLIC__/script/Plug/jcrop/js/jquery.Jcrop.js"></script> 
     <script type="text/javascript" src="__PUBLIC__/script/Index/easing.1.3.js" ></script>   
    <script type="text/javascript" src="__PUBLIC__/script/Index/comm.js"></script>
    <script type="text/javascript" src="__PUBLIC__/script/StudentCenter/ucenter.js"></script>
    <script type="text/javascript" src="__PUBLIC__/script/StudentCenter/index.js"></script>
</body>
</html>