<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/Css/style.css" />
    <script type="text/javascript" src="__PUBLIC__/admin/Js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/Js/jquery.sorted.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/Js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/Js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/Js/common.js"></script>

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
<form action="index.html" method="post" class="definewidth m20">
<input type="hidden" name="id" value="{$rule.0.id}" />
<table class="table table-bordered table-hover m10">
    <tr>
        <td class="tableleft">名称</td>
        <td><input type="text" name="title" value="{$rule.0.title}" /></td>
    </tr>
    <tr>
        <td class="tableleft">规则</td>
        <td><input type="text" name="name" value="{$rule.0.name}" /></td>
    </tr>
    <tr>
        <td class="tableleft">状态</td>
        <td>
            <input type="radio" name="status" value="1"  <eq name="rule.0.status" value='1'>checked</eq> /> 启用
            <input type="radio" name="status" value="0" <eq name="rule.0.status" value='0'>checked</eq> /> 禁用
        </td>
    </tr>
    <tr>
        <td class="tableleft"></td>
        <td>
            <button type="submit" class="btn btn-primary" type="button">保存</button> &nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
        </td>
    </tr>
</table>
</form>
</body>
</html>
<script>
    $(function () {       
		$('#backid').click(function(){
				window.location.href="index.html";
		 });

    });
</script>