<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/style/Plug/Validation-Engine/validationEngine.jquery.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/script/Plug/artDialog/css/ui-dialog.css">
</head>
<body>
<p style="margin-top:200px;"></p>
	<form id="homework_add">
		<input type="text" name="homework_name" id="homework_name" class="validate[required,maxSize[12]]"> 
		<input type="text" name="homework_about" id="homework_about" class="validate[required,maxSize[200]">
		<input type="text" name="homework_expires" id="homework_expires" class="validate[required]">	
		<input type="submit" value="新增作业" >
	</form>

<script type="text/javascript" src="__PUBLIC__/script/Common/jquery-1.10.2.js"></script>
<script type="text/javascript" src="__PUBLIC__/script/Plug/Validation-Engine/jquery.validationEngine.js"></script>
<script type="text/javascript" src="__PUBLIC__/script/Plug/Validation-Engine/jquery.validationEngine-zh_CN.js"></script>
<script type="text/javascript" src="__PUBLIC__/script/Plug/artDialog/dist/dialog-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/script/Plug/laydate/laydate.dev.js"></script>
<script type="text/javascript" src="__PUBLIC__/script/Teacher/homework.js"></script>
</body>
</html>