<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
   <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/Course/common.css">

	<link rel="stylesheet" href="__PUBLIC__/script/Plug/bootstrap/css/bootstrap.min.css">
	<!-- 可选的Bootstrap主题文件（一般不用引入） -->
	<link rel="stylesheet" href="__PUBLIC__/script/Plug/bootstrap/css/bootstrap-theme.min.css">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="__PUBLIC__/script/Common/jquery-1.10.2.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="__PUBLIC__/script/Plug/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<include file="Course:t_head" active="notice-li"/>
		
		<div style="margin-bottom:280px">
		<br/>

		<br/>
		
			<center><h2>{$noticeInfo.title}</h2></center>
		<br/>
		<!-- <br/> -->
		<!-- <br/> -->
     	<center><h4>发布人：{$noticeInfo.teacher_name} 发布时间：{$noticeInfo.pub_time|date="Y-m-d",###}</h4></center>
		<br/>

     	<center><h5>{$noticeInfo.content}</h5></center>
		</div>
		
    
    <!-- <include file="Public:footer" /> -->

</body>
</html>