<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>个人中心</title>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/Course/common.css">
  <link rel="stylesheet" href="__PUBLIC__/script/Plug/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="__PUBLIC__/script/Plug/bootstrap/css/bootstrap-theme.min.css">
  <script src="__PUBLIC__/script/Common/jquery-1.10.2.js"></script>
  <script src="__PUBLIC__/script/Plug/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/script/Plug/artDialog/dist/sea.js"></script>
  <script type="text/javascript" src="__PUBLIC__/script/Plug/artDialog/dist/dialog-min.js"></script>
</head>
<body> 
  <include file="Course:t_head" active="resource-li"/>
  <div class="main">
    
      <div class="pub-area">
            <a href="javascript:;" class="btn btn-success sub-button">上传资源</a>
      </div>
   <table class="table table-hover tableList table-striped table-bordered">
    <tr>
        <th>名称</th>
        <th>操作</th>
        <th>发布人</th>
        <th>发布时间</th>
        <th>大小</th>
    </tr>
      <volist name="resourceList" id="res">
        <tr>
            <td>{$res.title}</td>
            <td><a href="__ROOT__/{$res.file_path}">下载</a></td>
            <td>{$res.teacher_name}</td> 
            <td>{$res.pub_time|date="Y-m-d",###}</td>
            <td>{$res.file_size}</td> 
        </tr>
    </volist>
  </table>
</div>

    <div class="modal fade bs-example-modal-sm submitModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width:340px;height:200px;">

       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">发布资源</h4>

       </div>
             <div class="input-group" style="margin:20px;">
              <span class="input-group-addon" id="basic-addon1">名称</span><input type="text" class="form-control validate[required]" placeholder="标题" aria-describedby="basic-addon1" style="width:200px;" name="title" id="res-title">
              </div>
              <p></p>
              <div class="section-l fl" style="height:150px;">
                <p style="margin-left:120px;">
                <a href="javascript:;" class="btn btn-success btn-sm" id="selectFile" >选择文件</a>
                <input type="file" name="homework_file" id="homework_file" value="选择作业" style="display:none" />
                 </p>
           
              </div>
      </div>
    </div>
    </div>
    <div class="modal fade bs-example-modal-sm" id="message" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="mySmallModalLabel">提示</h4>
        </div>
        <div class="modal-body" style="  text-align: center;line-height: 60px;height: 100px;">
          
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <script type="text/javascript">
        $(function(){
           $('.sub-button').click(function(){
                $('.submitModal').modal(true);
                // 
           });
           $('#selectFile').click(function(){
                if ($('#res-title').val() == '') {
                    alert('请填写名称');
                    return false;
                };
                $('#homework_file').trigger('click');
           });
           $('#homework_file').on('change',function(){
              var data = new FormData();

              var homework_file = $("#homework_file")[0].files[0];

              data.append('res_file',homework_file);
              data.append('title',$('#res-title').val());
              data.append('courseId',{$Think.get.courseId});
 
              $.ajax({
                     type:"post",
                     url:'__CONTROLLER__/t_PubResource',
                     data: data,
                     processData: false,
                     contentType: false
                 }).done(function(res){
                      $('.submitModal').modal('hide');
                       if (res.status == 0 ) {
                          $('#message .modal-body').text(res.message);
                          $('#message').modal(true);
                      }else{
                           $('#message .modal-body').text(res.message);
                           $('#message').modal(true);
                             setTimeout(function(){
                          $('#message').modal('hide');
                          location.reload(true);
                       },1500)
                       }

               });
           })
        })
    </script>
    <!-- <include file="Public:footer" /> -->

</body>
</html>